h1 {
    color: rgb(123, 206, 255);

    font-size: 15pt; /* pt: ν¬μΈνΈ */
    font-weight: 900;
}

p {
    line-height: 50px;
    letter-spacing: 10px;
    text-decoration: line-through;
}

a {
    color: #FFF;
    text-decoration: none;
    font-style:italic;
    text-shadow: 1px 1px 0px rgb(96, 15, 106);
    font-size: 30pt;
}

a {
    font-family: "Diphylleia", serif;
    font-weight: 400;
    font-style: normal;
}

li {
    list-style-type: none;
}

body {
    color: coral;
}
